{% extends "base.html" %}

{% block content %}
    <h1> Don't know where to eat? Let me help:</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.food_type.label }}<br>
            {{ form.food_type(size=32) }}<br>
            {% for error in form.food_type.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price_range.label }}<br>
            {{ form.price_range(size=32) }}<br>
            {% for error in form.price_range.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}